# Podstawy SQL

### 1. SELECT * FROM tabla - wybieranie wszystkiego z tabeli "tabela"

In [ ]:
SELECT * FROM tabela
SELECT title FROM films
SELECT release_year FROM films
SELECT name FROM people

### 2. SELECT wartosc1,wartosc2 FROM tabela - wybieranie dwóch kolumn o nazwach wartosc1,wartosc2 z tabeli "tabela"

In [ ]:
SELECT wartosc1,wartosc2 FROM tabela
SELECT title, release_year FROM films
SELECT title, release_year, country FROM films

### 3. LIMIT - ograniczanie ilości wyświetlanych rekordów

In [ ]:
SELECT * FROM tabela LIMIT 5 # ogranicza ilość rekordów do 5
SELECT DISTINCT country FROM films LIMIT 5
SELECT DISTINCT certification FROM films LIMIT 5

### 4. DISTINCT - rekordy bez powrótrzeń

In [ ]:
SELECT DISTINCT wartosc1 FROM tabela
SELECT DISTINCT language FROM films
SELECT DISTINCT country FROM films
SELECT DISTINCT certification FROM films
SELECT DISTINCT roles FROM roles

### 5. COUNT - zliczanie danych w kolumnie
 #### UWAGA - Zlicza tylko wartości nie puste

In [ ]:
SELECT COUNT(*) FROM reviews
SELECT COUNT(DISTINCT birthdate) FROM people
SELECT COUNT(DISTINCT language) FROM films
SELECT COUNT(DISTINCT country) FROM films

### 6. Operatory logiczne

In [ ]:
= equal
<> not equal
< less than
> greater than
<= less than or equal to
>= greater than or equal to

### 7.WHERE - dodatkowe warunki do spełnienia

In [ ]:
SELECT * FROM films WHERE budget > 10000
SELECT COUNT(id) FROM films WHERE release_year<2000
SELECT title,release_year FROM films WHERE release_year>2000
SELECT title FROM films WHERE title = 'Metropolis'
SELECT name,birthdate FROM people WHERE birthdate= '1974-11-11'
SELECT count(id) FROM films WHERE language= 'Hindi'

### 8. AND / OR - łączenie warunków

In [ ]:
SELECT title FROM films WHERE release_year > 1994 AND < 2000
SELECT title, release_year FROM films WHERE release_year < 2000 AND language= 'Spanish'

### 9. BETWEEN ... AND ... - zakresy danych

##### BETWEEN zwraca zakres razem z krańcami (inclusive)

In [ ]:
SELECT title FROM films WHERE release_year BETWEEN 1994 AND 2000;
SELECT title, release_year FROM films WHERE release_year BETWEEN 1990 AND 2000 AND language='Spanish' AND budget>100000000
SELECT title, release_year FROM films WHERE release_year BETWEEN 1990 AND 2000  AND budget>100000000 AND (language='Spanish' or language='French')

### 10. WHERE IN - sprawdzanie zawartości w liście

In [ ]:
SELECT name FROM kids WHERE age IN (2, 4, 6, 8, 10);

### 11. NULL , IS NULL - wartości brakujące,puste

In [ ]:
SELECT name FROM people WHERE deathdate is null
SELECT title FROM films WHERE budget is null
SELECT count(id) from films WHERE language is null

### 12. LIKE / NOT LIKE - podobne/niepodobne

In [ ]:
SELECT name FROM companies WHERE name LIKE 'Data%';
SELECT name FROM people WHERE name LIKE "B%"
SELECT name FROM people WHERE name NOT LIKE 'A%'

### 13. % - ciąg  uniwersalny , _ - znak uniwersalny

In [ ]:
SELECT name FROM people WHERE name LIKE '_r%' 
SELECT name FROM people WHERE name NOT LIKE 'A%'

### 14. Używać ' ', a nie " "

### 15. AVG( ) ; SUM( ) ; MIN( ) ; MAX( ) - funkcje wbudowane

In [ ]:
SELECT SUM(duration) FROM films
SELECT AVG(duration) FROM films
SELECT MIN(duration) FROM films
SELECT MAX(duration) FROM films

### 16. AS - przypisywanie rekordu do nowej nazwy

In [ ]:
SELECT MAX(budget) AS max_budget,
       MAX(duration) AS max_duration
FROM films;

select title,gross-budget as net_profit from films

select avg(duration)/60.0 as avg_duration_hours from films

### 17. ORDER BY - uporządkowanie wyników

In [ ]:
SELECT name FROM people ORDER BY name
SELECT birthdate, name FROM people ORDER BY birthdate
SELECT * FROM films WHERE release_year <> 2015 ORDER BY duration
SELECT title,gross FROM films WHERE title LIKE 'M%' ORDER BY title
SELECT release_year, duration, title FROM films ORDER BY release_year,duration

### 18. ORDER BY .... DESC - uporządkowanie odwrotne ( descending)

In [ ]:
SELECT imdb_score,film_id FROM reviews ORDER BY imdb_score DESC
SELECT title FROM films ORDER BY title DESC

### 19. GROUP BY - grupowanie rekordów

In [ ]:
SELECT release_year,count(id) FROM films GROUP BY release_year
SELECT release_year,avg(duration) FROM films GROUP BY release_year

### 20. HAVING - dodatkowe warunki logiczne

In [ ]:
SELECT release_year
FROM films
GROUP BY release_year
HAVING COUNT(title) > 10;

#### *** ZADANIA COMBOSY ***

In [ ]:
SELECT  release_year,
        AVG(budget) AS avg_budget ,
        AVG(gross) AS avg_gross 
FROM films  
GROUP by release_year 
HAVING AVG(budget) >= 60000000
ORDER by AVG(gross) DESC